<% layout('../layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <!-- 부트스트랩의 유효성검사를 위해 novalidate(기본 유효성 검사 X)를 한 다음 form의 class에 needs-validation 속성 추가 & 각 인풋에 required 추가 -->
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" required>
                    <!-- name="campground[title]" 방식은 Post 요청에 의해 req.body로 데이터가 보내질 때 campground 아래 속해서 전달되는 것이다.  -->
                    <!-- 콘텐츠를 그룹화해서 전달하기 좋은 방식이다.  -->
                    <div class="valid-feedback">
                        Looks good!
                        <!-- 입력이 있을 때 유효성 검사 통과 메시지를 입력칸 밑에 띄우는 속성 -->
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Upload Images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>

                <!-- Cloudinary로 보내기 떄문에 campground[image]로 보내는 것이 아닌 image로 따로 값을 보냄 -->
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" name="campground[image]" id="image" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" name='campground[price]' id='price' placeholder="0.00"
                            aria-label="price" aria-describedby="price-label" required>
                        <!-- aria-describedby : span과 input을 연결 마치 lable과 input처럼 -->
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success mb-3">Add Campground</button>
            </form>
            <a href="/campgrounds">All campgrounds</a>
        </div>
    </div>